## Get started with Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv?

In [4]:
df = pd.read_csv("C:/cygwin64/home/Ian/dssg/Building_Violations_sample_50000.csv")

C:\Anaconda\lib\site-packages\pandas\io\parsers.py:1159: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [7]:
df.head()
df.tail(3)

,Unnamed: 0,ID,VIOLATION LAST MODIFIED DATE,VIOLATION DATE,VIOLATION CODE,VIOLATION STATUS,VIOLATION STATUS DATE,VIOLATION DESCRIPTION,VIOLATION LOCATION,VIOLATION INSPECTOR COMMENTS,...,INSPECTION STATUS,INSPECTION WAIVED,INSPECTION CATEGORY,DEPARTMENT BUREAU,ADDRESS,PROPERTY GROUP,SSA,LATITUDE,LONGITUDE,LOCATION
49997,49997,1430847,10/14/2008,01/01/2006,CN031013,COMPLIED,07/10/2008,"FIRE EXTNGSHR REQ, RESDNTL",NaN,ALL ELEVATION MISSING FIRE EXTINGUISHER,...,FAILED,N,PERIODIC,CONSERVATION,6501 S LOWE AVE,19693,NaN,41.776074,-87.640625,"(41.7760739361563,-87.64062455203374)"
49998,49998,1734149,09/16/2008,01/01/2006,CN135016,COMPLIED,09/05/2008,MICE/RODENTS,NaN,MICE ON PREMISES,...,FAILED,N,PERIODIC,CONSERVATION,4836 S INDIANA AVE,18261,NaN,41.806381,-87.621283,"(41.80638088214982,-87.62128295874425)"
49999,49999,1834762,01/12/2007,01/01/2006,CN190019,COMPLIED,01/11/2007,ARRANGE PREMISE INSPECTION,NaN,NO ENTRY TO INTERIOR TO VERIFY OCCUPANCY AND D...,...,FAILED,N,PERIODIC,CONSERVATION,200 N KOSTNER AVE,1531,NaN,41.883310,-87.735709,"(41.88330951242491,-87.73570901056128)"

In [8]:
df.shape

(50000, 23)

In [10]:
del df['Unnamed: 0']

In [11]:
df.columns

Index([u'ID', u'VIOLATION LAST MODIFIED DATE', u'VIOLATION DATE', u'VIOLATION CODE', u'VIOLATION STATUS', u'VIOLATION STATUS DATE', u'VIOLATION DESCRIPTION', u'VIOLATION LOCATION', u'VIOLATION INSPECTOR COMMENTS', u'VIOLATION ORDINANCE', u'INSPECTOR ID', u'INSPECTION NUMBER', u'INSPECTION STATUS', u'INSPECTION WAIVED', u'INSPECTION CATEGORY', u'DEPARTMENT BUREAU', u'ADDRESS', u'PROPERTY GROUP', u'SSA', u'LATITUDE', u'LONGITUDE', u'LOCATION'], dtype='object')

In [13]:
import re

def spaces_to_snake(colName):
    # convert string to snake_case
    s = re.sub(r"\s+",'_',colName)
    return s.lower()

df.columns = [spaces_to_snake(eachCol) for eachCol in df.columns]

In [14]:
df.columns

Index([u'id', u'violation_last_modified_date', u'violation_date', u'violation_code', u'violation_status', u'violation_status_date', u'violation_description', u'violation_location', u'violation_inspector_comments', u'violation_ordinance', u'inspector_id', u'inspection_number', u'inspection_status', u'inspection_waived', u'inspection_category', u'department_bureau', u'address', u'property_group', u'ssa', u'latitude', u'longitude', u'location'], dtype='object')

In [16]:
df['violation_date'].head()

0    05/21/2015
1    05/21/2015
2    05/21/2015
3    05/21/2015
4    05/21/2015
Name: violation_date, dtype: object

In [17]:
df.violation_date.head()

0    05/21/2015
1    05/21/2015
2    05/21/2015
3    05/21/2015
4    05/21/2015
Name: violation_date, dtype: object

In [18]:
df.violation_date = pd.to_datetime(df.violation_date)

In [20]:
df.violation_date.head()

0   2015-05-21
1   2015-05-21
2   2015-05-21
3   2015-05-21
4   2015-05-21
Name: violation_date, dtype: datetime64[ns]

In [21]:
df.describe() # numerical values only

,id,inspection_number,property_group,latitude,longitude
count,50000.000000,50000.000000,50000.000000,49952.000000,49952.000000
mean,3300031.329640,6195288.986320,197729.741420,41.845539,-87.673442
std,1088123.083684,4296079.998463,183132.260836,0.087437,0.057008
min,742158.000000,375113.000000,1001.000000,41.644712,-87.914436
25%,2400057.500000,2021217.500000,20600.750000,41.771440,-87.714271
50%,3421152.000000,2813561.000000,142605.000000,41.854001,-87.670709
75%,4223617.750000,10630848.750000,363929.250000,41.912843,-87.634551
max,5064815.000000,11597625.000000,663759.000000,42.022645,-87.525898

In [22]:
pd.value_counts(df.inspection_status) # for categories

FAILED    38371
PASSED     6426
CLOSED     5199
HOLD          4
dtype: int64

In [23]:
pd.value_counts(df.violation_inspector_comments.isnull())

False    44705
True      5295
dtype: int64

In [25]:
df.violation_inspector_comments = df.violation_inspector_comments.fillna("No Comment")

In [26]:
df[df.violation_inspector_comments == "No Comment"].head()

,id,violation_last_modified_date,violation_date,violation_code,violation_status,violation_status_date,violation_description,violation_location,violation_inspector_comments,violation_ordinance,...,inspection_status,inspection_waived,inspection_category,department_bureau,address,property_group,ssa,latitude,longitude,location
13,5063459,05/20/2015,2015-05-20,CN193019,OPEN,NaN,REPAIR/WRECK DANGER RESID PREM,NaN,No Comment,Repair or wreck dangerous and vacant residenti...,...,CLOSED,N,COMPLAINT,DEMOLITION,3051 S BROAD ST,285348,NaN,41.838454,-87.660979,"(41.83845438362799,-87.6609787384341)"
15,5063885,05/21/2015,2015-05-20,BR1001,OPEN,NaN,OWNER OR LICENSED CONTRACTOR,NaN,No Comment,The code violations listed below must be corre...,...,CLOSED,N,PERIODIC,BOILER,6448 S TRIPP AVE,387870,NaN,41.775328,-87.728922,"(41.775328312329904,-87.72892174006991)"
16,5063912,05/21/2015,2015-05-20,PL151137,OPEN,NaN,OPEN,NaN,No Comment,NaN,...,FAILED,N,PERMIT,PLUMBING,3835 W CERMAK RD,280823,NaN,41.851485,-87.721159,"(41.85148492680666,-87.72115941535648)"
18,5063320,05/20/2015,2015-05-20,CN193019,OPEN,NaN,REPAIR/WRECK DANGER RESID PREM,NaN,No Comment,Repair or wreck dangerous and vacant residenti...,...,CLOSED,N,COMPLAINT,DEMOLITION,11025 S ESMOND ST,516079,NaN,41.693018,-87.667286,"(41.69301757344688,-87.66728567428113)"
20,5064410,05/20/2015,2015-05-20,CN193039,OPEN,NaN,POST OWNER NAME OF VACNT BLDG,NaN,No Comment,"Post conspicuously name, address, and telephon...",...,CLOSED,N,COMPLAINT,DEMOLITION,6928 S KIMBARK AVE,393870,NaN,41.769012,-87.594164,"(41.76901189738516,-87.59416364991507)"

In [27]:
df.violation_status[3:10]

3    OPEN
4    OPEN
5    OPEN
6    OPEN
7    OPEN
8    OPEN
9    OPEN
Name: violation_status, dtype: object

In [44]:
df.iloc[1:10,1:10]

,violation_last_modified_date,violation_date,violation_code,violation_status,violation_status_date,violation_description,violation_location,violation_inspector_comments,violation_ordinance
1,05/21/2015,2015-05-21,CN044013,OPEN,NaN,PIPE OPENING W/NONCOMBUST MATL,OTHER : :MULTIPLE FLOORS,"OPENINGS AROUND PIPES, SEAL WITH APPROVED MATE...",Failed to fill openings around exposed pipes o...
2,05/21/2015,2015-05-21,CN104035,OPEN,NaN,MAINTAIN WINDOW,OTHER : :,"ALL ELEVATIONS , WOOD WINDOW FRAMES AND NORTH...",Failed to maintain windows in sound condition ...
3,05/21/2015,2015-05-21,CN196029,OPEN,NaN,POST OWNER/MANAGERS NAME/#,OTHER : :,BUILDING - NO OWNER'S I.D. SIGN POSTED .,"Post name, address, and telephone of owner, ow..."
4,05/21/2015,2015-05-21,CN104015,OPEN,NaN,"REPLCE WINDOW PANES, PLEXGLAS",OTHER : :,NORTH ELEVATION / 1ST FLOOR - BROKEN WINDOW PANE.,"Replace broken, missing or defective window pa..."
5,05/21/2015,2015-05-21,CN190019,OPEN,NaN,ARRANGE PREMISE INSPECTION,OTHER : :,"INTERIOR OF BUILDING, NO RESPONSE. UNABLE TO V...",Arrange for inspection of premises. (13-12-100)
6,05/21/2015,2015-05-21,CN015062,OPEN,NaN,OBSTRUCTIONS IN EXIT WAY,OTHER : :,EAST ELEVATION / 5649 S. 2ND FLOOR SECONDARY E...,Failed to remove obstruction from exitway that...
7,05/21/2015,2015-05-21,CN065034,OPEN,NaN,REPAIR WINDOW SILLS,EXTERIOR:W :,WEST ELEVATION STONE SILLS HAVE WASHED OUT MOR...,Failed to maintain window sill in good repair ...
8,05/21/2015,2015-05-21,CN196029,OPEN,NaN,POST OWNER/MANAGERS NAME/#,OTHER : :,BUILDING - NO OWNER'S ID SIGN POSTED.,"Post name, address, and telephone of owner, ow..."
9,05/21/2015,2015-05-21,CN190019,OPEN,NaN,ARRANGE PREMISE INSPECTION,OTHER : :BUILDING,"UNABLE TO INSPECT INTERIOR, STAIRWELLS, BASEME...",Arrange for inspection of premises. (13-12-100)

In [33]:
df['log_lat'] = df.latitude.apply(np.log)
df[['latitude', 'log_lat']].head()

    latitude   log_lat
0  41.733089  3.731294
1  41.777088  3.732348
2  41.937995  3.736192
3  41.937995  3.736192
4  41.791470  3.732692

In [34]:
df['new_lat'] = df.latitude.apply(lambda x: x + np.random.rand())

In [35]:
df[['latitude', 'log_lat', 'new_lat']].head()

    latitude   log_lat    new_lat
0  41.733089  3.731294  42.107957
1  41.777088  3.732348  41.912421
2  41.937995  3.736192  42.082482
3  41.937995  3.736192  42.019388
4  41.791470  3.732692  41.906169

In [36]:
df[['department_bureau', 'longitude', 'latitude']].groupby("department_bureau").mean()

                            longitude   latitude
department_bureau
BOILER                     -87.670488  41.841682
CONSERVATION               -87.673469  41.846195
CONSTRUCTION EQUIPMENT     -87.684458  41.928653
DEMOLITION                 -87.669775  41.807409
ELECTRICAL                 -87.670183  41.839267
ELEVATOR                   -87.659214  41.900869
IRON                       -87.671767  41.906648
NEW CONSTRUCTION           -87.683687  41.863878
PLUMBING                   -87.663690  41.817108
REFRIGERATION              -87.679022  41.874878
SIGNS                      -87.688456  41.874992
SPECIAL INSPECTION PROGRAM -87.669368  41.864683
SPECIAL TASK FORCE         -87.679063  41.829780
VENTILATION                -87.684892  41.889416
WATER                      -87.665067  41.866511

## Team Dollop

In [87]:
buildings = pd.read_csv("C:/cygwin64/home/Ian/dssg/Building_Violations_sample_50000.csv")

In [88]:
buildings.head()
buildings.tail()

,Unnamed: 0,ID,VIOLATION LAST MODIFIED DATE,VIOLATION DATE,VIOLATION CODE,VIOLATION STATUS,VIOLATION STATUS DATE,VIOLATION DESCRIPTION,VIOLATION LOCATION,VIOLATION INSPECTOR COMMENTS,...,INSPECTION STATUS,INSPECTION WAIVED,INSPECTION CATEGORY,DEPARTMENT BUREAU,ADDRESS,PROPERTY GROUP,SSA,LATITUDE,LONGITUDE,LOCATION
49995,49995,1438713,06/16/2006,01/01/2006,CN063014,OPEN,NaN,CHIMNEY,NaN,CHIMNEY WASHED OUT MORTAR LOOSE BRICKS.,...,FAILED,N,PERIODIC,CONSERVATION,1854 E 79TH ST,20597,50,41.751683,-87.578659,"(41.75168267214598,-87.57865870399478)"
49996,49996,1357061,07/17/2006,01/01/2006,CN070024,OPEN,NaN,REPAIR PORCH SYSTEM,NaN,"35 REAR PORCH GRADE TO 3RD RAILS TOO SHORT, MI...",...,FAILED,N,PERIODIC,CONSERVATION,31 N LOREL AVE,1612,NaN,41.881299,-87.758621,"(41.881299199557894,-87.75862053499047)"
49997,49997,1430847,10/14/2008,01/01/2006,CN031013,COMPLIED,07/10/2008,"FIRE EXTNGSHR REQ, RESDNTL",NaN,ALL ELEVATION MISSING FIRE EXTINGUISHER,...,FAILED,N,PERIODIC,CONSERVATION,6501 S LOWE AVE,19693,NaN,41.776074,-87.640625,"(41.7760739361563,-87.64062455203374)"
49998,49998,1734149,09/16/2008,01/01/2006,CN135016,COMPLIED,09/05/2008,MICE/RODENTS,NaN,MICE ON PREMISES,...,FAILED,N,PERIODIC,CONSERVATION,4836 S INDIANA AVE,18261,NaN,41.806381,-87.621283,"(41.80638088214982,-87.62128295874425)"
49999,49999,1834762,01/12/2007,01/01/2006,CN190019,COMPLIED,01/11/2007,ARRANGE PREMISE INSPECTION,NaN,NO ENTRY TO INTERIOR TO VERIFY OCCUPANCY AND D...,...,FAILED,N,PERIODIC,CONSERVATION,200 N KOSTNER AVE,1531,NaN,41.883310,-87.735709,"(41.88330951242491,-87.73570901056128)"

In [111]:
import re

def replace_spaces(colName):
    s = re.sub(r"\s+", "_", colName)
    return s.lower()

# without using regexp
def the_hard_way(colName):
    temp = colName.split()
    return '_'.join(temp).lower()
    
buildings.columns = [the_hard_way(eachCol) for eachCol in buildings.columns]

del buildings['unnamed:_0']

In [112]:
# count nulls in each column
nullCounts = [[col, buildings[col].isnull().value_counts()] for col in buildings.columns]
nullCounts

[['id', False    50000
  dtype: int64], ['violation_last_modified_date', False    50000
  dtype: int64], ['violation_date', False    50000
  dtype: int64], ['violation_code', False    50000
  dtype: int64], ['violation_status', False    50000
  dtype: int64], ['violation_status_date', True     36488
  False    13512
  dtype: int64], ['violation_description', False    49624
  True       376
  dtype: int64], ['violation_location', True     32484
  False    17516
  dtype: int64], ['violation_inspector_comments', False    44705
  True      5295
  dtype: int64], ['violation_ordinance', False    48462
  True      1538
  dtype: int64], ['inspector_id', False    50000
  dtype: int64], ['inspection_number', False    50000
  dtype: int64], ['inspection_status', False    50000
  dtype: int64], ['inspection_waived', False    50000
  dtype: int64], ['inspection_category', False    50000
  dtype: int64], ['department_bureau', False    50000
  dtype: int64], ['address', False    50000
  dtype: int64], ['property_group', False    50000
  dtype: int64], ['ssa', True     40639
  False     9361
  dtype: int64], ['latitude', False    49952
  True        48
  dtype: int64], ['longitude', False    49952
  True        48
  dtype: int64], ['location', False    49952
  True        48
  dtype: int64]]

In [114]:
buildingsRemoveNull = buildings.dropna()
buildingsRemoveNull.shape

(1017, 22)

In [115]:
buildingsInterp = buildings
buildingsInterp.latitude = buildingsInterp.latitude.fillna(buildingsInterp.latitude.mean())
buildingsInterp.longitude = buildingsInterp.longitude.fillna(buildingsInterp.longitude.mean())

buildingsInterp.latitude.isnull().value_counts()

False    50000
dtype: int64